#canvas {
  background-image: url("./images/lake.jpeg");
  background-size: cover;
}

#start-game {
  background-color: red;
  border-radius: 10px;
  height:40px;
  margin: 5px;
  /* float: left; */
}

.game-intro {
  color: white;
  width: 200px;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
}

#score {
  color: white;
  margin-top: 5px;;
  width: 230px;
}

.duck-up {
  position: absolute;
}