#canvas {
  background-image: url("./images/lake.jpeg");
  background-size: cover;
}

#start-game {
  background-color: red;
  border-radius: 10px;
  height:40px;
  margin: 5px;
  /* float: left; */
}

.game-intro {
  color: white;
  width: 200px;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.duck-up {
  position: absolute;
}

#instructions {
  border: 1px solid lightblue;
  background: rgb(50, 194, 50);
  color: white;
  border-radius: 5px;
  width: fit-content;
  padding: 3px;
  margin: 0;
}